@import "~bootstrap/scss/bootstrap";
@import "../custom";

#calc {
    margin:auto;
    width: 80%;
    max-width: 540px;
    border-radius: 25px;
    background: #74BF04;
    padding: 20px;
}

#label {
    color: white;
}


@media (min-width: 570px) {
    #result {
        color: white;
        padding-top: 38px;
        white-space: nowrap;
        padding-left: 26px;
    } 
    #input {
        text-align: center;
        border-right: 2px solid white;
        height: 100%;
    }
}
#arrow {
    padding-left: 38px;
    padding-bottom: 9px;
}

#button {
    padding: 12px;
}

@media (max-width: 569px) {
    #result {
        color: white;
        text-align: center;
        margin: auto;
        width: 63%;
        white-space: nowrap;
    }
    #input {
        text-align: center;
        margin: auto;
        width: 50%;
    }
}